extends ../layout

block content
  h2
    strong= post.title
  h6.text-muted 
    | Posted <mark>#{moment(post.date).fromNow()}</mark>
    | on #{moment(post.date).format('MMMM D, YYYY')}
    if post.editDate
      | * (modified #{moment(post.editDate).fromNow()} on #{moment(post.editDate).format('MMMM D, YYYY')})
  .panel.panel-default
    .panel-body
      .row
        .col-md-2.text-center
          img(src="#{post.avatar}" alt="User's profile avatar" width="100" height="100") 
          h4
            a(href="/#{post.author}")= post.author
        .col-md-10!= marked(post.body)
      .row.text-right
        .col-md-12
          if user && user.username === post.author
            a(href="/#{post.author}/#{post.getHash()}/#{post.turl}/edit").text-muted edit
  h4 All #{post.comments.length} #{post.comments.length === 1 ? 'Comment' : 'Comments'} 
  hr
  form.clearfix(role="form" method="post")
    input(type="hidden" name="_csrf" value=_csrf)
    .form-group
      textarea.form-control(name="comment" placeholder="Leave a comment" rows="3" required)
    .form-group
      button.btn.btn-primary.pull-right(type="submit") Post
  br
  if post.comments
    for comment in post.comments
      .panel.panel-default
        .panel-body
          .row
            .col-md-2.text-center
              img(src="#{comment.avatar}" alt="User's profile avatar" width="100" height="100") 
              h4
                a(href="/#{comment.author}")= comment.author
            .col-md-10
              small.text-muted 
                | Posted #{moment(comment.date).fromNow()} on #{moment(comment.date).format('MMMM D, YYYY')}
                if comment.editDate
                  | * (modified #{moment(comment.editDate).fromNow()} on #{moment(comment.editDate).format('MMMM D, YYYY')})
              div!= marked(comment.content)
          .row.text-right
            .col-md-12
              if user && user.uid === comment.aid
                a(href="/#{post.author}/#{post.getHash()}/#{post.turl}/#{comment.cid}/edit").text-muted edit
