extends ../layout

block content
  .row
    .col-md-4
      img.avatar.center-block(src="#{User.profile.avatar || User.gravatar()}" alt="avatar profile")
    .col-md-8
      h1= User.username
      h3 Joined on #{moment(User.joinDate).format('MMMM D, YYYY')}
      if User.profile.location
        h4 Location: #{User.profile.location}
      if User.profile.location
        a(href="#{User.profile.website}")= User.profile.website
      if User.profile.bio
        p= User.profile.bio
    if user && User.uid !== user.uid
      if findFollows(user, User)
        form(role="form" action="/#{User.username}/unfollow" method="post")
          input(type="hidden" name="_csrf" value=_csrf)
          .form-group
            button.btn.btn-danger.pull-right(type="submit") Unfollow
      else
        form(role="form" method="post")
          input(type="hidden" name="_csrf" value=_csrf)
          .form-group
            button.btn.btn-primary.pull-right(type="submit") Follow
  hr
  ul.nav.nav-pills.nav-justified
    li.active
      a(href="#posts" data-toggle="tab")
        | Posts 
        span.badge #{User.posts.length}
    li
      a(href="#followers" data-toggle="tab")
        | Followers
        span.badge #{User.followers.length}
    li
      a(href="#following" data-toggle="tab")
        | Following
        span.badge #{User.following.length}

  .tab-content
    .tab-pane.fade.in.active#posts
      if posts.length > 0
        .list-group
          for post in posts
            br
            a.list-group-item(href="/#{post.author}/#{post.getHash()}/#{post.turl}")
              h3.list-group.item-heading.strong
                strong= post.title
              h6.text-muted 
                | Posted #{moment(post.date).fromNow()}
                | on #{moment(post.date).format('MMMM D, YYYY')}
                if post.editDate
                  | * (modified #{moment(post.editDate).fromNow()} on #{moment(post.editDate).format('MMMM D, YYYY')})
              p.list-group-item-text= post.body.substr(0, 270) + (post.body.length >= 270 ? '...' : '')
              h6.text-danger
                mark= post.comments.length + ' Comments' 
      else
        br
        h1.text-center #{User.username}'s has no posts.
    .tab-pane.fade#followers
      if User.followers.length > 0
        .row
        for follower in User.followers
            .col-md-2.text-center
              br
              a(href="/#{follower.username}")
                img(src="#{follower.avatar}" alt="follower's avatar" height="100" width="100")
                h4= follower.username
      else
        br
        h1.text-center #{User.username} has no followers. :(
    .tab-pane.fade#following
      if user && User.following.length > 0
        .row
        for following in User.following
            .col-md-2.text-center
              br
              a(href="/#{following.username}")
                img(src="#{following.avatar}" alt="following's avatar" height="100" width="100")
                h4= following.username
      else
        br
        h1.text-center #{User.username} is not following anybody. :(
